<section class="">
  <div class="container d-flex justify-content-center">
    <div class="row w-75 mt-5">
      <div class="col-md-12">
        <h2 class="text-center">Banner Management</h2>
        <form
          action="/admin/editbanner/<%=editbanner._id %>"
          method="post"
          enctype="multipart/form-data"
        
        >
          <label for="">Title</label>
          <input type="text" name="bannertitle" class="form-control" value="<%=editbanner.title%>"/>

          <label for="">Description</label>
          <input type="text" name="bannerdescription" class="form-control" value="<%=editbanner.description%>"/>

          <label for=""> Link</label>
          <input type="text" name="bannerlink" class="form-control" value="<%=editbanner.link %>" />

      

          <label for="">Image</label>
          <img src="/uploads/<%=editbanner.Image%>" alt=""  id="image"  style="width:100px;height:auto" id="imgview">
          <input type="file" name="image" class="form-control"  onchange="display1(event)"/>

          
          <button type="submit" class="btn btn-success mt-4">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>
<script>
     function display1(event){
      document.getElementById('image').src= URL.createObjectURL(event.target.files[0])
      
    }
</script>