<!-- Quick view -->
<section>
  <div
    class="modal fade custom-modal"
    id="quickViewModal"
    tabindex="-1"
    aria-labelledby="quickViewModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="detail-gallery">
                <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                <!-- MAIN SLIDES -->
                <div class="product-image-slider">
                  <figure class="border-radius-10">
                    <img
                      src="assets/imgs/shop/product-16-2.jpg"
                      alt="product image"
                    />
                  </figure>
                  <figure class="border-radius-10">
                    <img
                      src="assets/imgs/shop/product-16-1.jpg"
                      alt="product image"
                    />
                  </figure>
                  <figure class="border-radius-10">
                    <img
                      src="assets/imgs/shop/product-16-3.jpg"
                      alt="product image"
                    />
                  </figure>
                  <figure class="border-radius-10">
                    <img
                      src="assets/imgs/shop/product-16-4.jpg"
                      alt="product image"
                    />
                  </figure>
                  <figure class="border-radius-10">
                    <img
                      src="assets/imgs/shop/product-16-5.jpg"
                      alt="product image"
                    />
                  </figure>
                  <figure class="border-radius-10">
                    <img
                      src="assets/imgs/shop/product-16-6.jpg"
                      alt="product image"
                    />
                  </figure>
                  <figure class="border-radius-10">
                    <img
                      src="assets/imgs/shop/product-16-7.jpg"
                      alt="product image"
                    />
                  </figure>
                </div>
                <!-- THUMBNAILS -->
                <div class="slider-nav-thumbnails pl-15 pr-15">
                  <div>
                    <img
                      src="assets/imgs/shop/thumbnail-3.jpg"
                      alt="product image"
                    />
                  </div>
                  <div>
                    <img
                      src="assets/imgs/shop/thumbnail-4.jpg"
                      alt="product image"
                    />
                  </div>
                  <div>
                    <img
                      src="assets/imgs/shop/thumbnail-5.jpg"
                      alt="product image"
                    />
                  </div>
                  <div>
                    <img
                      src="assets/imgs/shop/thumbnail-6.jpg"
                      alt="product image"
                    />
                  </div>
                  <div>
                    <img
                      src="assets/imgs/shop/thumbnail-7.jpg"
                      alt="product image"
                    />
                  </div>
                  <div>
                    <img
                      src="assets/imgs/shop/thumbnail-8.jpg"
                      alt="product image"
                    />
                  </div>
                  <div>
                    <img
                      src="assets/imgs/shop/thumbnail-9.jpg"
                      alt="product image"
                    />
                  </div>
                </div>
              </div>
              <!-- End Gallery -->
              <div class="social-icons single-share">
                <ul class="text-grey-5 d-inline-block">
                  <li><strong class="mr-10">Share this:</strong></li>
                  <li class="social-facebook">
                    <a href="#"
                      ><img
                        src="assets/imgs/theme/icons/icon-facebook.svg"
                        alt=""
                    /></a>
                  </li>
                  <li class="social-twitter">
                    <a href="#"
                      ><img
                        src="assets/imgs/theme/icons/icon-twitter.svg"
                        alt=""
                    /></a>
                  </li>
                  <li class="social-instagram">
                    <a href="#"
                      ><img
                        src="assets/imgs/theme/icons/icon-instagram.svg"
                        alt=""
                    /></a>
                  </li>
                  <li class="social-linkedin">
                    <a href="#"
                      ><img
                        src="assets/imgs/theme/icons/icon-pinterest.svg"
                        alt=""
                    /></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="detail-info">
                <h3 class="title-detail mt-30">
                  Colorful Pattern Shirts HD450
                </h3>
                <div class="product-detail-rating">
                  <div class="pro-details-brand">
                    <span>
                      Brands:
                      <a href="shop-grid-right.html">Bootstrap</a></span
                    >
                  </div>
                  <div class="product-rate-cover text-end">
                    <div class="product-rate d-inline-block">
                      <div class="product-rating" style="width: 90%"></div>
                    </div>
                    <span class="font-small ml-5 text-muted">
                      (25 reviews)</span
                    >
                  </div>
                </div>
                <div class="clearfix product-price-cover">
                  <div class="product-price primary-color float-left">
                    <ins><span class="text-brand">$120.00</span></ins>
                    <ins
                      ><span class="old-price font-md ml-15">$200.00</span></ins
                    >
                    <span class="save-price font-md color3 ml-15">25% Off</span>
                  </div>
                </div>
                <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                <div class="short-desc mb-30">
                  <p class="font-sm">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Aliquam rem officia, corrupti reiciendis minima nisi modi,!
                  </p>
                </div>

                <div class="attr-detail attr-color mb-15">
                  <strong class="mr-10">Color</strong>
                  <ul class="list-filter color-filter">
                    <li>
                      <a href="#" data-color="Red"
                        ><span class="product-color-red"></span
                      ></a>
                    </li>
                    <li>
                      <a href="#" data-color="Yellow"
                        ><span class="product-color-yellow"></span
                      ></a>
                    </li>
                    <li class="active">
                      <a href="#" data-color="White"
                        ><span class="product-color-white"></span
                      ></a>
                    </li>
                    <li>
                      <a href="#" data-color="Orange"
                        ><span class="product-color-orange"></span
                      ></a>
                    </li>
                    <li>
                      <a href="#" data-color="Cyan"
                        ><span class="product-color-cyan"></span
                      ></a>
                    </li>
                    <li>
                      <a href="#" data-color="Green"
                        ><span class="product-color-green"></span
                      ></a>
                    </li>
                    <li>
                      <a href="#" data-color="Purple"
                        ><span class="product-color-purple"></span
                      ></a>
                    </li>
                  </ul>
                </div>
                <div class="attr-detail attr-size">
                  <strong class="mr-10">Size</strong>
                  <ul class="list-filter size-filter font-small">
                    <li><a href="#">S</a></li>
                    <li class="active"><a href="#">M</a></li>
                    <li><a href="#">L</a></li>
                    <li><a href="#">XL</a></li>
                    <li><a href="#">XXL</a></li>
                  </ul>
                </div>
                <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                <div class="detail-extralink">
                  <div class="detail-qty border radius">
                    <a href="#" class="qty-down"
                      ><i class="fi-rs-angle-small-down"></i
                    ></a>
                    <span class="qty-val">1</span>
                    <a href="#" class="qty-up"
                      ><i class="fi-rs-angle-small-up"></i
                    ></a>
                  </div>
                  <div class="product-extra-link2">
                    <button type="submit" class="button button-add-to-cart">
                      Add to cart
                    </button>
                    <a
                      aria-label="Add To Wishlist"
                      class="action-btn hover-up"
                      href="shop-wishlist.html"
                      ><i class="fi-rs-heart"></i
                    ></a>
                    <a
                      aria-label="Compare"
                      class="action-btn hover-up"
                      href="shop-compare.html"
                      ><i class="fi-rs-shuffle"></i
                    ></a>
                  </div>
                </div>
                <ul class="product-meta font-xs color-grey mt-50">
                  <li class="mb-5">SKU: <a href="#">FWM15VKT</a></li>
                  <li class="mb-5">
                    Tags: <a href="#" rel="tag">Cloth</a>,
                    <a href="#" rel="tag">Women</a>,
                    <a href="#" rel="tag">Dress</a>
                  </li>
                  <li>
                    Availability:<span class="in-stock text-success ml-5"
                      >8 Items In Stock</span
                    >
                  </li>
                </ul>
              </div>
              <!-- Detail Info -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mobile-header-active mobile-header-wrapper-style">
    <div class="mobile-header-wrapper-inner">
      <div class="mobile-header-top">
        <div class="mobile-header-logo">
          <a href="index.html"
            ><img src="assets/imgs/theme/logo.svg" alt="logo"
          /></a>
        </div>
        <div
          class="mobile-menu-close close-style-wrap close-style-position-inherit"
        >
          <button class="close-style search-close">
            <i class="icon-top"></i>
            <i class="icon-bottom"></i>
          </button>
        </div>
      </div>
      <div class="mobile-header-content-area">
        <div class="mobile-search search-style-3 mobile-header-border">
          <form action="#">
            <input type="text" placeholder="Search for items…" />
            <button type="submit"><i class="fi-rs-search"></i></button>
          </form>
        </div>
        <div class="mobile-menu-wrap mobile-header-border">
          <div class="main-categori-wrap mobile-header-border">
            <a class="categori-button-active-2" href="#">
              <span class="fi-rs-apps"></span> Browse Categories
            </a>
            <div class="categori-dropdown-wrap categori-dropdown-active-small">
              <ul>
                <li>
                  <a href="shop-grid-right.html"
                    ><i class="evara-font-dress"></i>Women's Clothing</a
                  >
                </li>
                <li>
                  <a href="shop-grid-right.html"
                    ><i class="evara-font-tshirt"></i>Men's Clothing</a
                  >
                </li>
                <li>
                  <a href="shop-grid-right.html"
                    ><i class="evara-font-smartphone"></i> Cellphones</a
                  >
                </li>
                <li>
                  <a href="shop-grid-right.html"
                    ><i class="evara-font-desktop"></i>Computer & Office</a
                  >
                </li>
                <li>
                  <a href="shop-grid-right.html"
                    ><i class="evara-font-cpu"></i>Consumer Electronics</a
                  >
                </li>
                <li>
                  <a href="shop-grid-right.html"
                    ><i class="evara-font-home"></i>Home & Garden</a
                  >
                </li>
                <li>
                  <a href="shop-grid-right.html"
                    ><i class="evara-font-high-heels"></i>Shoes</a
                  >
                </li>
                <li>
                  <a href="shop-grid-right.html"
                    ><i class="evara-font-teddy-bear"></i>Mother & Kids</a
                  >
                </li>
                <li>
                  <a href="shop-grid-right.html"
                    ><i class="evara-font-kite"></i>Outdoor fun</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <!-- mobile menu start -->
          <nav>
            <ul class="mobile-menu">
              <li class="menu-item-has-children">
                <span class="menu-expand"></span><a href="/">Home</a>
              </li>
              <li class="menu-item-has-children">
                <span class="menu-expand"></span><a href="/shop">Shop</a>
              </li>
              <li class="menu-item-has-children">
                <span class="menu-expand"></span><a href="#">Orders</a>
              </li>
              <li class="menu-item-has-children">
                <span class="menu-expand"></span
                ><a href="blog-category-fullwidth.html">About</a>
              </li>
              <li class="menu-item-has-children">
                <span class="menu-expand"></span
                ><a href="blog-category-fullwidth.html">Contact</a>
              </li>

              <!-- <li class="menu-item-has-children">
                <span class="menu-expand"></span><a href="#">Language</a>
                <ul class="dropdown">
                  <li><a href="#">English</a></li>
                  <li><a href="#">French</a></li>
                  <li><a href="#">German</a></li>
                  <li><a href="#">Spanish</a></li>
                </ul>
              </li> -->
            </ul>
          </nav>
          <!-- mobile menu end -->
        </div>
        <div class="mobile-header-info-wrap mobile-header-border">
          <div class="single-mobile-header-info mt-30">
            <a href="page-contact.html"> Our location </a>
          </div>
          <div class="single-mobile-header-info">
            <a href="page-login-register.html">Log In / Sign Up </a>
          </div>
          <div class="single-mobile-header-info">
            <a href="#">(+01) - 2345 - 6789 </a>
          </div>
        </div>
        <div class="mobile-social-icon">
          <h5 class="mb-15 text-grey-4">Follow Us</h5>
          <a href="#"
            ><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""
          /></a>
          <a href="#"
            ><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""
          /></a>
          <a href="#"
            ><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""
          /></a>
          <a href="#"
            ><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""
          /></a>
          <a href="#"
            ><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""
          /></a>
        </div>
      </div>
    </div>
  </div>
  <main class="main">
    <section class="home-slider position-relative pt-25 pb-20">
      <div class="container">
        <div class="row">
          <div class="col-lg-9">
            <div class="position-relative">
              <div
                class="hero-slider-1 style-3 dot-style-1 dot-style-1-position-1"
              >
                <!-- <div class="single-hero-slider single-animation-wrap">
                  <div class="container">
                    <div class="slider-1-height-3 slider-animated-1">
                      <div class="hero-slider-content-2">
                        <h4 class="animated">Trade-In Offer</h4>
                        <h2 class="animated fw-900">Supper Value Deals</h2>
                        <h1 class="animated fw-900 text-brand">
                          On All Products
                        </h1>
                        <p class="animated">
                          Save more with coupons & up to 70% off
                        </p>
                        <a
                          class="animated btn btn-brush btn-brush-3"
                          href="shop-product-right.html"
                        >
                          Shop Now
                        </a>
                      </div>
                      <div class="slider-img">
                        <img src="/uploads/<%=bannerresponse.image%>" alt="" />
                      </div>
                    </div>
                  </div>
                </div> -->
                 <% bannerresponse.forEach(function(bannerresponse) { %>
                <div class="single-hero-slider single-animation-wrap">
                  <div class="container">
                    <div class="slider-1-height-3 slider-animated-1">
                      <div class="hero-slider-content-2">
                        <h4 class="animated" style="color: wheat;"><%=bannerresponse.title%></h4>
                        <h5 class="animated fw-900"><%=bannerresponse.description%></h5>
                        <h3 class="animated fw-900 text-brand">
                          Great Sale
                        </h3>
                        <p class="animated">
                          
                        </p>
                        <a
                          class="animated btn btn-brush btn-brush-3"
                          href="<%=bannerresponse.link%>"
                        >
                          Shop Now
                        </a>
                      </div>
                      <div class="slider-img">
                        <img src="/uploads/<%=bannerresponse.image%>" alt="" />
                      </div>
                    </div>
                  </div>
                </div>

                <% }); %>


              </div>
             
              <div class="slider-arrow hero-slider-1-arrow style-3"></div>
            </div>
          </div>
          <div class="col-lg-3 d-md-none d-lg-block">
           
              <% if (bannerresponse.length > 0) { 
                var lastIndex = bannerresponse.length - 1;
                var lastBanner = bannerresponse[lastIndex]; %>
                
                <div class="banner-img banner-1 wow fadeIn animated home-3">
                  <img class="border-radius-10" src="/uploads/<%=lastBanner.image%>" alt="" />
                  <div class="banner-text">
                    <span style="color: rgb(154, 243, 87);"><%=lastBanner.title%></span>
                    <h4  style="color: rgb(3, 3, 3);" ><%=lastBanner.description%> </h4>
                    <a href="/shop">Shop Now <i class="fi-rs-arrow-right"></i></a>
                  </div>
                </div>
                
            <% } %>
            
            </div>
            <!-- <div class="banner-img banner-2 wow fadeIn animated mb-0">
              <img
                class="border-radius-10"
                src="assets/imgs/banner/banner-7.jpg"
                alt=""
              />
              <div class="banner-text">
                <span>Smart Offer</span>
                <h4>Save 20% on <br />Eardrop</h4>
                <a href="shop-grid-right.html"
                  >Shop Now <i class="fi-rs-arrow-right"></i
                ></a>
              </div>                                
            </div> -->
          </div>
        </div>
      </div>
    </section>
    <section class="featured section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
            <div class="banner-features wow fadeIn animated hover-up animated">
              <img src="assets/imgs/theme/icons/feature-1.png" alt="" />
              <h4 class="bg-1">Free Shipping</h4>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
            <div class="banner-features wow fadeIn animated hover-up animated">
              <img src="assets/imgs/theme/icons/feature-2.png" alt="" />
              <h4 class="bg-3">Online Order</h4>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
            <div class="banner-features wow fadeIn animated hover-up animated">
              <img src="assets/imgs/theme/icons/feature-3.png" alt="" />
              <h4 class="bg-2">Save Money</h4>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
            <div class="banner-features wow fadeIn animated hover-up animated">
              <img src="assets/imgs/theme/icons/feature-4.png" alt="" />
              <h4 class="bg-4">Promotions</h4>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
            <div class="banner-features wow fadeIn animated hover-up animated">
              <img src="assets/imgs/theme/icons/feature-5.png" alt="" />
              <h4 class="bg-5">Happy Sell</h4>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
            <div class="banner-features wow fadeIn animated hover-up animated">
              <img src="assets/imgs/theme/icons/feature-6.png" alt="" />
              <h4 class="bg-6">24/7 Support</h4>
            </div>
          </div>
        </div>
      </div>
    </section>
   

    <!--banner-->

    <!-- <section class="banner-2 section-padding pb-0">
      <div class="container">
        <div class="banner-img banner-big wow fadeIn animated f-none">
          <img src="assets/imgs/banner/banner-4.png" alt="" />
          <div class="banner-text d-md-block d-none">
            <h4 class="mb-15 mt-40 text-brand">Repair Services</h4>
            <h1 class="fw-600 mb-20">
              We're an Apple <br />Authorised Service Provider
            </h1>
            <a href="shop-grid-right.html" class="btn"
              >Learn More <i class="fi-rs-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>
    </section> -->

    <!--banner-->

    <!--categorylst-->

    <section class="popular-categories section-padding mt-15">
      <div class="container wow fadeIn animated">
        <h3 class="section-title mb-20"><span>Popular</span> Categories</h3>
        <div class="carausel-6-columns-cover position-relative">
          <div
            class="slider-arrow slider-arrow-2 carausel-6-columns-arrow"
            id="carausel-6-columns-arrows"
          ></div>
          <div class="carausel-6-columns" id="carausel-6-columns">
            <div class="card-1">
              <figure class="img-hover-scale overflow-hidden">
                <a href="shop-grid-right.html"
                  ><img src="assets/imgs/shop/category-thumb-1.jpg" alt=""
                /></a>
              </figure>
              <h5><a href="shop-grid-right.html">T-Shirt</a></h5>
            </div>
            <div class="card-1">
              <figure class="img-hover-scale overflow-hidden">
                <a href="shop-grid-right.html">
                  <img src="assets/imgs/shop/category-thumb-2.jpg" alt=""
                /></a>
              </figure>
              <h5><a href="shop-grid-right.html">Bags</a></h5>
            </div>
            <div class="card-1">
              <figure class="img-hover-scale overflow-hidden">
                <a href="shop-grid-right.html"
                  ><img src="assets/imgs/shop/category-thumb-3.jpg" alt=""
                /></a>
              </figure>
              <h5><a href="shop-grid-right.html">Sandan</a></h5>
            </div>
            <div class="card-1">
              <figure class="img-hover-scale overflow-hidden">
                <a href="shop-grid-right.html"
                  ><img src="assets/imgs/shop/category-thumb-4.jpg" alt=""
                /></a>
              </figure>
              <h5><a href="shop-grid-right.html">Scarf Cap</a></h5>
            </div>
            <div class="card-1">
              <figure class="img-hover-scale overflow-hidden">
                <a href="shop-grid-right.html"
                  ><img src="assets/imgs/shop/category-thumb-5.jpg" alt=""
                /></a>
              </figure>
              <h5><a href="shop-grid-right.html">Shoes</a></h5>
            </div>
            <div class="card-1">
              <figure class="img-hover-scale overflow-hidden">
                <a href="shop-grid-right.html"
                  ><img src="assets/imgs/shop/category-thumb-6.jpg" alt=""
                /></a>
              </figure>
              <h5><a href="shop-grid-right.html">Pillowcase</a></h5>
            </div>
            <div class="card-1">
              <figure class="img-hover-scale overflow-hidden">
                <a href="shop-grid-right.html"
                  ><img src="assets/imgs/shop/category-thumb-7.jpg" alt=""
                /></a>
              </figure>
              <h5><a href="shop-grid-right.html">Jumpsuits</a></h5>
            </div>
            <div class="card-1">
              <figure class="img-hover-scale overflow-hidden">
                <a href="shop-grid-right.html"
                  ><img src="assets/imgs/shop/category-thumb-8.jpg" alt=""
                /></a>
              </figure>
              <h5><a href="shop-grid-right.html">Hats</a></h5>
            </div>
          </div>
        </div>
      </div>
    </section>


     <!--categorylst-->

    <!-- <section class="banners mb-20">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="banner-img wow fadeIn animated">
              <img src="assets/imgs/banner/banner-1.png" alt="" />
              <div class="banner-text">
                <span>Smart Offer</span>
                <h4>Save 20% on <br />Woman Bag</h4>
                <a href="shop-grid-right.html"
                  >Shop Now <i class="fi-rs-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="banner-img wow fadeIn animated">
              <img src="assets/imgs/banner/banner-2.png" alt="" />
              <div class="banner-text">
                <span>Sale off</span>
                <h4>Great Summer <br />Collection</h4>
                <a href="shop-grid-right.html"
                  >Shop Now <i class="fi-rs-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 d-md-none d-lg-flex">
            <div class="banner-img wow fadeIn animated mb-sm-0">
              <img src="assets/imgs/banner/banner-3.png" alt="" />
              <div class="banner-text">
                <span>New Arrivals</span>
                <h4>Shop Today’s <br />Deals & Offers</h4>
                <a href="shop-grid-right.html"
                  >Shop Now <i class="fi-rs-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->


    
    
    
 
  <!-- Preloader Start -->
  <div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
      <div class="preloader-inner position-relative">
        <div class="text-center">
          <h5 class="mb-5">Now Loading</h5>
          <div class="loader">
            <div class="bar bar1"></div>
            <div class="bar bar2"></div>
            <div class="bar bar3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Vendor JS-->
<!-- <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/waypoints.js"></script>
    <script src="assets/js/plugins/counterup.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/images-loaded.js"></script>
    <script src="assets/js/plugins/isotope.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="assets/js/plugins/jquery.theia.sticky.js"></script>
    <script src="assets/js/plugins/jquery.elevatezoom.js"></script> -->
<!-- Template  JS -->
<!-- <script src="assets/js/main.js"></script>
    <script src="assets/js/shop.js"></script>
</body>


</html> -->
