<% if (cartItems.length> 0) { %>
    <section class="mt-0 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table shopping-summery text-center clean">
                            <thead>
                                <tr class="main-heading">
                                    <th scope="col">Image</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <!-- <th scope="col">Subtotal</th> -->
                                    
                                </tr>
                            </thead>
                            <% cartItems.forEach(function(item) { %>
                                <tbody>

                                    <!-- <% cartItems.forEach(function(item) { %>
                                        <div class="cart-item">
                                          <img src="<%= item.cartItems.Image %>" alt="<%= item.cartItems.Name %>">
                                          <h3><%= item.cartItems.Name %></h3>
                                          <p>Quantity: <%= item.quantity %></p>
                                          <p>Category: <%= item.cartItems.Category %></p>
                                        </div>
                                      <% }); %> -->

                                    <tr>
                                        <td class="image product-thumbnail"><img
                                                src="uploads/<%= item.cartItems.Image[0]%>" alt="#"></td>
                                        <td class="product-des product-name">
                                            <h5 class="product-name"><a href="shop-product-right.html">
                                                    <%= item.cartItems.Productname %>
                                                </a></h5>
                                            <p class="font-xs">
                                                  <%= item.cartItems.category %><br>
                                                    <%= item.cartItems.ProductDescription%>
                                        </td>
                                        <td class="price" data-title="Price">
                                        

                                      
                                                <span class="text-brand"><%=item.cartItems.Price%></span>
                                               
                               

                                                  
                                                



                                        </td>
                                        <td class="text-center" data-title="Stock">
                                            <!-- <div class="detail-qty border radius  m-auto">
                                                <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                                <span class="qty-val"><%= item.quantity%></span>
                                                <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                            </div> -->


                                            <button class="cart-item-count "
                                                onclick="changeQuantity('<%= item._id%>','<%= item.item%>','<%= userId %>',-1)">-</button>

                                            <span id='<%= item.item%>'>
                                                <%=item.quantity%>
                                            </span>

                                            <% if(item.cartItems.Quantity> item.quantity){%>

                                                <button class="cart-item-count"
                                                    onclick="changeQuantity('<%= item._id%>','<%= item.item%>','<%= userId %>',1)">+</button>
                                                <%}%>


                                        </td>
                                        <h2 style="display: none;" id="Quantity">
                                            <%=item.cartItems.Quantity%>
                                        </h2>
                                      
                                        
                                <td class="action" data-title="Remove"><button class="text-muted" onclick="removeItem('<%-item._id%>','<%-item.item%>')"><i class="fi-rs-trash"></i></button></td>
                                    </tr>



                                </tbody>
                                <% }); %>
                        </table>
                    </div>
                   

                    <div class="divider center_icon mt-50 mb-50"><i class="fi-rs-fingerprint"></i></div>
                    <div class="col-lg-12 col-md-12 d-flex justify-content-center">
                               
                               
                                

                    </div>
                    
                        <div class="border p-md-4 p-30 border-radius cart-totals">
                            <div class="heading_s1 mb-3">
                                <h4>Cart Totals</h4>
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td class="cart_total_label">Cart Subtotal</td>
                                            <td class="cart_total_amount"><span
                                                    class="font-lg fw-900 text-brand" id="subtotal" ><%=total%></span></td>
                                        </tr>
                                        <tr>
                                            <td class="cart_total_label">Shipping</td>
                                            <td class="cart_total_amount"> <i class="ti-gift mr-5"></i> Free Shipping
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="cart_total_label">Total</td>
                                            <td class="cart_total_amount"><strong><span
                                                        class="font-xl fw-900 text-brand"id="total" ><%=total%></span></strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <form class="form-sample" action="/view_cart" method="POST">
                                    <input type="hidden" name="total" id="checkTotal" value="">
                                    <input type="hidden" name="couponName" id="couponName" value="">
                                    <input type="hidden" name="discountAmount" id="couponDiscountAmount" value="">
                                    <% if(cartItems[0].cartItems.Quantity>0){%>
                                    <button type="submit" class="btn "><i class="fi-rs-box-alt mr-10"></i>Proceed To
                                        CheckOut</button>
                                        <%} else{%>
                                              <p class="text-danger"> This product is currently out of stock</p>

                                            <%} %>
                                </form>
                    
                </div>
            </div>
        </div>
        </div>
    </section>
    </main>

    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% } else { %>
        <p>Your cart is empty.</p>
        <% } %>

            <script>
                function changeQuantity(cartId, prodId, userId, count) {
                    let quantity = parseInt(document.getElementById(prodId).textContent)
                    let Quantity = document.getElementById('Quantity').textContent
                    if (count === 1) {
                        if (quantity + 1 === parseInt(Quantity)) {
                            location.reload();
                        }
                    }
                    if (count === -1) {
                        if (quantity === parseInt(Quantity)) {
                            location.reload();
                        }
                    }
                    count = parseInt(count)

                    $.ajax({
                        url: '/change-product-quantity',
                        method: 'PUT',
                        data: {
                            user: userId,
                            cart: cartId,
                            product: prodId,
                            count: count,
                            quantity: quantity,
                            Quantity: Quantity
                        },
                        success: (response) => {



                            if (response.removeProduct) {
                                Swal.fire({
                                    position: 'center',
                                    icon: 'success',
                                    title: 'Removed Successfully From The Cart',
                                    showConfirmButton: false,
                                    timer: 2000
                                })

                                location.reload()
                            }
                            else {
                                console.log("hgfcvbnb" + prodId);
                                let cartQuantity = quantity + count
                                console.log(cartQuantity);
                                document.getElementById(prodId).innerHTML = cartQuantity
                                document.getElementById("total").innerHTML=response.total
                                document.getElementById("subtotal").innerHTML=response.total

                            }

                        }
                    })
                }

                function removeItem(cartId, prodId) {
    Swal.fire({
  title: 'Are you sure?',
  text: "You won't be able to revert this!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Yes, delete it!'
}).then((result) => {
  if (result.isConfirmed) {
    $.ajax({
          url: '/delete_cart_item',
          data: {
            cartId: cartId,
            product: prodId
          },
          method: 'DELETE',
          success: (response) => {
            if (response.removeProduct) {
              location.reload()
            }
          }
        })
    Swal.fire(
      'Deleted!',
      'Your file has been deleted.',
      'success'
    )
  }
})
   
}



            </script>