<main class="main">
    <section class="mt-50 mb-50">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="table-responsive">
              <% if(wishlistItems.length==0){%>
            <div class="container-fluid  ">
        <div class="row">

            <div class="col-md-12">

                <!-- <div class="card"> -->

                    <div class="card-body cart">
                        <div class="col-sm-12 empty-cart-cls text-center">
                           <i class="fa-solid fa-heart fa-beat-fade"></i>
                              
                            <h3><strong>Your Whishlist is Empty</strong></h3>
                            <h4>Add somethin :)</h4>
                            <a href="/shop" class="btn btn-primary cart-btn-transform m-3" data-abc="true">continue
                                shopping</a>


                        </div>
                    </div>
                <!-- </div> -->


            </div>

        </div>

    </div>
              <%} else{%>
              <table class="table shopping-summery text-center">
                <thead>
                  <tr class="main-heading">
                    <th scope="col" colspan="2">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Action</th>
                    <th scope="col">Remove</th>
                  </tr>
                </thead>
                <tbody>
                  <% wishlistItems.forEach(function(wishlistItems){%>
                  <tr>
                    <td class="image product-thumbnail">
                      <img
                        src="/uploads/<%=wishlistItems.wishlist.Image[0] %>"
                        alt="#"
                      />
                    </td>
                    <td class="product-des product-name">
                      <h5 class="product-name">
                        <a href="shop-product-right.html">
                          <%=wishlistItems.wishlist.Productname%>
                        </a>
                      </h5>
                    </td>
                    <td class="price" data-title="Price">
                      <span> <%=wishlistItems.wishlist.Price%> </span>
                    </td>
                    <td class="text-right" data-title="Cart">
                      <button
                        class="btn btn-sm"
                        onclick="addtocart('<%=wishlistItems.item%>');Swal.fire({
                          position: 'center',
                          icon: 'success',
                          title: 'Product is successfully added to cart',
                          showConfirmButton: false,
                          timer: 1500
                        })"
                      >
                        <i class="fi-rs-shopping-bag mr-5"></i>Add to cart
                      </button>
                    </td>
                    <td class="action" cartItemss-title="Remove">
                      <button
                        class="text-muted"
                        onclick="removeItem('<%=wishlistItems._id%>','<%=wishlistItems.item%>')"
                      >
                        <i class="fi-rs-trash"></i>
                      </button>
                    </td>
                  </tr>
                  <%}) %>
                </tbody>
                <%} %>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <script>
    function addtocart(proId) {
        $.ajax({
            url: '/add-to-cart/' + proId,
            method: 'get',
            success: (response) => {
                if (response.new) {
                    let count = $('#cart-count').html();
                    count = parseInt(count) + 1;
                    $('#cart-count').html(count);

                }

            },
        });
    }

    function removeItem(wishlistId, prodId) {
      console.log(wishlistId);
      console.log(prodId);
      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!',
      }).then((result) => {
        if (result.isConfirmed) {
          $.ajax({
            url: '/delete_wishlist',
            data: {
              wishlistId: wishlistId,
              productId: prodId,
            },
            method: 'DELETE',
            success: (response) => {
              if (response.removeProduct) {
                location.reload();
              }
            },
          });
          Swal.fire(
            'Deleted!',
            'Product is deleted from the wishlist.',
            'success'
          );
        }
      });
    }
  </script>